@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('/woff2/PretendardVariable.woff2') format('woff2-variations');
}
.PretendardLight {
    font-family: 'Pretendard Light', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.PretendardRegular {
    font-family: 'Pretendard Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.PretendardSemiBold {
    font-family: 'Pretendard SemiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.PretendardBold {
    font-family: 'Pretendard Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
}
:root {
}
hr {
    border: none;
    height: 1px;
    margin: 0;
}
.scrollable-div {
    max-height: 100vh;
    overflow-y: auto;
}
.nav-item:hover {
    background-color: rgba(215, 221, 229, 0.7);
}
.li-hover-line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 70px;
    width: 0;
    height: 4px;
    background-color: rgba(33, 37, 41);
    transition: width 0.3s ease-in-out;
}
.li-hover-line:hover::before {
    width: 100%;
}
.button-color {
    background-color: #1454ff;
    color: white;
    font-weight: 600;
}
.contour {
    position: relative;
    left: -50px;
    width: 100vw;
    height: 1px;
    background-color: #f1f3f8;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 브라우저 */
    scrollbar-width: none; /* 파이어폭스 */
    overflow-y: scroll; /* 세로 스크롤 활성화 */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* 스크롤바 공간 없애기 */
}
