@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('/woff2/PretendardVariable.woff2') format('woff2-variations');
}

.PretendardLight {
    font-family: 'Pretendard Light', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.PretendardRegular {
    font-family: 'Pretendard Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.PretendardSemiBold {
    font-family: 'Pretendard SemiBold', sans-serif;
    font-weight: 600;
    font-style: normal;
}
.PretendardBold {
    font-family: 'Pretendard Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
}

hr {
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 선의 두께 */
    background-color: #fff; /* 배경색을 흰색으로 설정 */
    margin: 0; /* 필요한 경우 여백 조정 */
}
